[Unit]
Description=ChaptarrNG audiobook library service
After=network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__INSTALL_DIR__/bin
Environment="DOTNET_ROOT=/usr/share/dotnet"
Environment="DOTNET_CLI_TELEMETRY_OPTOUT=1"
Environment="Chaptarr__Server__BindAddress=127.0.0.1"
Environment="Chaptarr__Server__Port=__PORT__"
Environment="Chaptarr__Update__Mechanism=External"
Environment="Chaptarr__Update__Automatically=false"
Environment="PATH=__INSTALL_DIR__/tools:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
Environment="TMPDIR=__DATA_DIR__/tmp"
ExecStart=/usr/bin/dotnet __INSTALL_DIR__/bin/Chaptarr.dll -nobrowser -data=__DATA_DIR__
Restart=on-failure
RestartSec=5s
TimeoutStopSec=30s
KillSignal=SIGINT
UMask=0027
StandardOutput=journal
StandardError=journal
SyslogIdentifier=__APP__
NoNewPrivileges=yes
PrivateTmp=yes
PrivateDevices=yes
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6 AF_NETLINK
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
DevicePolicy=closed
ProtectSystem=full
ProtectProc=invisible
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes
ProtectHostname=yes
ProtectClock=yes
LockPersonality=yes
SystemCallArchitectures=native
SystemCallFilter=~@clock @debug @module @mount @obsolete @reboot @setuid @swap @cpu-emulation @privileged
CapabilityBoundingSet=~CAP_RAWIO CAP_MKNOD
CapabilityBoundingSet=~CAP_AUDIT_CONTROL CAP_AUDIT_READ CAP_AUDIT_WRITE
CapabilityBoundingSet=~CAP_SYS_BOOT CAP_SYS_TIME CAP_SYS_MODULE CAP_SYS_PACCT
CapabilityBoundingSet=~CAP_LEASE CAP_LINUX_IMMUTABLE CAP_IPC_LOCK
CapabilityBoundingSet=~CAP_BLOCK_SUSPEND CAP_WAKE_ALARM
CapabilityBoundingSet=~CAP_SYS_TTY_CONFIG
CapabilityBoundingSet=~CAP_MAC_ADMIN CAP_MAC_OVERRIDE
CapabilityBoundingSet=~CAP_NET_ADMIN CAP_NET_BROADCAST CAP_NET_RAW
CapabilityBoundingSet=~CAP_SYS_ADMIN CAP_SYS_PTRACE CAP_SYSLOG
ReadWritePaths=__DATA_DIR__

[Install]
WantedBy=multi-user.target
